<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {{#if editing}}
            <h2 class="mb-4">Edit Blog Post</h2>
            {{else}}
            <h2 class="mb-4">Create a New Blog Post</h2>
            {{/if}}
            <form id="new-blog-form" action="/api/blogs" method="POST">
                <div class="mb-3">
                    <label for="blog-title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="blog-title" name="title" value="{{blog.title}}" required>
                </div>
                <div class="mb-3">
                    <label for="blog-description" class="form-label">Description</label>
                    <textarea class="form-control" id="blog-description" name="description" rows="4">{{blog.description}}</textarea>
                </div>
                
                <input type="hidden" id="blog-id" name="id" value="{{blog.id}}">
                <div id="error-message" class="alert alert-danger" style="display: none;"></div>
                <button type="submit" class="btn btn-primary">{{#if editing}}Update{{else}}Submit{{/if}}</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Attention</h5>
                <button type="button" id="close-button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-text">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</section>

<script src="/js/blog.js"></script>

